.grid-container {
  justify-items: center; /* start | end | center | stretch */
  align-items: end; /* start | end | center | stretch */
  display: grid;
  width: 95%;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-template-rows: 100px 100px;
  grid-row-gap: 10px;
  
}
.grid-container .grid-item {
  border: solid 1px;
  font-size: 21px;
  padding: 5px;
  background-color: yellow;
  
}


