
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
    list-style: none;
    cursor: pointer;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection{
    background: rgb(0,123,255,0.3);
}

.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

/*---- HEADER ----*/
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: #1b1b1b;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li a{
    color: #0BF204;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover{
    color: #007bff;
}

.banner{
    
    min-height: 100vh;
    background: url("../img/bg.webp") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about{
    padding: 40px 0;
}

.about .title{
    font-size: 35px;
    font-weight: 700;
}

.about p{
    padding-top: 20px;
    text-align: justify;
}

.text-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: black;
}

h2 {
    position: relative;
    margin: 0;
    font-size: 2.2em;
    font-weight: 900;
    color: white;
    z-index: 1;
    overflow: hidden;
}

h2::before {
    content: "";
    position: absolute;
    left: 110%;
    width: 100%; height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.5s linear infinite;
}

@keyframes animate {
    0% {
        left: 110%;
    }
    100% {
        left: -20%;
    }
}

h2 span {
    color: red;
}

.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar.sticky .icon.cancel-btn{
    top: 10px;
}


/*---- MEDIA HEADER ----*/
@media (max-width: 868px) {
    body.disabledScroll{
        overflow: hidden;
    }

    .icon{
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }

    .icon.cancel-btn{
        display: none;
    }

    .icon.cancel-btn.show{
        display: block;
    }

    .icon.hide{
        display: none;
    }

    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
    }

    .navbar.sticky .menu-list{
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }

    .navbar .menu-list.active{
        clip-path: circle(75%);
    }

    .navbar .menu-list li{
        margin-top: 45px;
    }

    .navbar .menu-list li a{
        font-size: 23px;
    }
}

/*---- CARDS ----*/
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    padding: 100px 50px;
    min-height: 100vh;
    background: linear-gradient(45deg, #0BF204, #070165);
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.container .card:hover {
    height: 400px;
}

.container .card .imgBox {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .imgBox {
    top: -80px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
    background-image: url() ;
}

.container .card .imgBox img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 130px;
    height: 250px;
}

.container .card .content h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.container .card .content p {
    color: #333;
    font-size: 1.05em;
}

.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 24px;
    background: var(--clr);
    color: white;
    font-weight: 600;
    border-radius: 8px;
}

/*==== PRODUCT SLIDER ====*/
.wrapper{
    top: 100PX;
    left: 2rem;
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover{
    background: #f2f2f2;
}

.wrapper i:first-child{
    left: -22px;
    display: none;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}

/*==== FOOTER ====*/
footer {
    top: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    background: #3586ff;
    position: relative;
    width: 100%;
    padding: 20px 50px;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover,
footer .menu li a:hover {
    transform: translateY(-10px);
    color: #000;
}

footer .menu li a {
    font-size: 1.4em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px; left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

.menu-list {
    background-color: red;
}