#trans_1 {
  width: 200px;
  height: 200px;
  background-color: blue;
  transform: translate(30px, 50px);
}

#trans_2 {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 200);
  transform: rotate(250deg);
}

#trans_3 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 255, 13);
  transform: rotateX(70deg);
}

#trans_4 {
  width: 200px;
  height: 200px;
  background-color: rgb(251, 255, 0);
  transform: rotateY(40deg);
}

#trans_5 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 238, 255);
  transform: rotateZ(15deg);
}